## Dataset : Walmart Sales

## importing required libraries

In [1]:
import pandas as pd

## Step 1: Load the dataset

In [2]:
file_path = 'Walmart.xlsx'
df = pd.read_excel(file_path, sheet_name='Walmart')

## Step 2: Inspect the data

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3203 entries, 0 to 3202
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       3203 non-null   object
 1   Order Date     3203 non-null   datetime64[ns]
 2   Ship Date      3203 non-null   datetime64[ns]
 3   Customer Name  3203 non-null   object
 4   Country        3203 non-null   object
 5   City           3203 non-null   object
 6   State          3203 non-null   object
 7   Category       3203 non-null   object
 8   Product Name   3203 non-null   object
 9   Sales          3203 non-null   float64
 10  Quantity       3203 non-null   int64
 11  Profit         3203 non-null   float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(7)
memory usage: 300.4+ KB

## Step 3: Rename columns for consistency

In [4]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

## Step 4: Convert date columns to datetime format

In [5]:
df['order_date'] = pd.to_datetime(df['order_date'])
df['ship_date'] = pd.to_datetime(df['ship_date'])

## Step 5: Handle missing values

In [6]:
df.isnull().sum()

order_id         0
order_date       0
ship_date        0
customer_name    0
country          0
city             0
state            0
category         0
product_name     0
sales            0
quantity         0
profit           0
dtype: int64

### Drop rows with missing critical info

In [7]:
df = df.dropna(subset=['order_id', 'order_date', 'sales', 'quantity'])

## Step 6: Remove duplicates

In [8]:
df = df.drop_duplicates()

## Step 7: Clean numeric columns

In [9]:
df['sales'] = pd.to_numeric(df['sales'], errors='coerce')
df['profit'] = pd.to_numeric(df['profit'], errors='coerce')
df['quantity'] = pd.to_numeric(df['quantity'], errors='coerce')

## Step 8: Remove rows with negative or zero values where not logical

In [10]:
df = df[(df['sales'] > 0) & (df['quantity'] > 0)]

## Step 9: Add derived columns (e.g., year, month)

In [11]:
df['year'] = df['order_date'].dt.year
df['month'] = df['order_date'].dt.month

## Step 10: Save cleaned data

In [12]:
df.to_csv('Walmart_Cleaned.csv', index=False)
print("✅ Cleaned data saved to Walmart_Cleaned.csv")

✅ Cleaned data saved to Walmart_Cleaned.csv